.menu{
    background-color:rgb(255, 252, 248);
 }
 .menu .nav-item a.active {
   background: var(--bs-primary) !important;
 }
 
 .menu .menu-item .border-bottom {
   border-bottom-style: dashed !important;
 }